.idea
depthnorm_env
outputs
rgb_cat.jpg
*.egg-info
outputs
wandb
*.tar.gz
*.jpg
*.pyc
.DS_Store
__pycache__
.ipynb_checkpoints
.local_cache
multi_node_job.*

# Downloaded datasets
dataset_module/downloads
generated_outputs
# Local configuration files
import4cluster.sh
send2cluster.sh
tmp.txt
