.idea
depthnorm_env
outputs
rgb_cat.jpg
*.egg-info
outputs
wandb
*.tar.gz
*.jpg
*.pyc
.DS_Store
__pycache__
.ipynb_checkpoints

# Downloaded datasets
dataset_module/downloads

# Local configuration files
import4cluster.sh
send2cluster.sh
